

body {
    background-color: black; /* 設定背景顏色為黑色 */
}
#title{
    position: fixed;
    top:0%;
    left: 33%;
}
canvas {
    position:fixed;
    top: 37%;
    left: 30%;
    border: 1px ; /* 給 canvas 加上白色邊框 */
    border-color: white;
}
body{
    background-color: black;
    position: absolute;
    
}
body label{
    color: white;
    height: 40px;
    font-size: 45px;
}
div img{
    height: 40px;
}
div #setting{
    position:fixed;
    right:1%;
}
div #daymode{
    position:fixed;
    right:1%;
    top:6%;
}
.bpm{
    position: fixed;
    top:90%;
    left:0%;
}
.sides{
    position: fixed;
    top:80%;
    left:0%;
}
body .sides input{
    position:relative;
    font-size: 25px;
    top:-6px;
    width: 55px;
}
body .bpm input{
    position:relative;
    font-size: 25px;
    top:-6px;
    width: 55px;
}
body div #play{
    position:fixed;
    top: 70%;
    left: 20%;
    height: 40px;
}